
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<div class="navigation-bar ">
  
  <nav class="navbar navbar-expand-lg navbar-dark">
    
    <img class="organization-logo-navbar" src="/assets/images/Hermes Original Log - SubText.png" alt="Societatea Hermes Logo" width="9%" height="5%">
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" href="#">Despre</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active" href="#">Orar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" href="#">Înscrie-te</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<img class="cariereInIT-Logo" src="/assets/images/CariereInITLogo.png" alt="Cariere in IT Logo" width="100%">
<div class="page-footer text-center text-white .no-padding .container-fluid">
  <div class="row">
    <p id="contact-paragraph">Contact</p>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="organization-info-title">Adresă</p>
      <p class="organization-info">Cantina Hașdeu, Complex Studențesc Hașdeu,<br>Strada Bogdan Petriceicu Hașdeu 45, <br>Cluj-Napoca</p>
    </div>
    <div class="col-4">
      <p class="organization-info-title">Email</p>
      <p class="organization-info">cariereinit@societatea-hermes.ro</p>
      <p class="event-details">Un eveniment marca</p>
      <img class="organization-logo" src="/assets/images/Hermes Original Log - SubText.png" alt="Societatea Hermes Logo" width="50%" height="50%">
    </div>
    <div class="col-4">
      <p class="organization-info-title social-media-logos">Social Media</p>
      <a href="https://www.facebook.com/societateahermes" target="_blank">
        <img class="facebook-logo" src="/assets/images/facebook.png" width="6%">
      </a>
      <a href="https://www.instagram.com/societatea.hermes/" target="_blank">
        <img class="instagram-logo" src="/assets/images/instagram.png" width="7%">
      </a>
    </div>
  </div>
</div>