
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<div class="navigation-bar ">
  
  <nav class="navbar navbar-expand-lg navbar-dark">
    
    <img class="organization-logo-navbar" src="/assets/images/Hermes-Original-SubText-White.png" alt="Societatea Hermes Logo" width="9%" height="5%">
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#aboutsection">Despre</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active" href="#">Orar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" href="#">Înscrie-te</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<img class="cariereInIT-Logo" src="/assets/images/CariereInITLogo.png" alt="Cariere in IT Logo" width="100%">
<div class="about-section" id="aboutsection">
  <h2 class="color-black">Empowering your career</h2>
  <p class="color-black">CariereInIT este un eveniment organizat de Societatea Hermes, care se adresează tuturor studenților și persoanelor pasionate de domeniul IT.<br>
    Scopul nostru este să aducem împreună angajatorii și potențialii angajați și să facilităm intrarea în mediul profesional a tinerilor programatori.</p>
</div>

<div class="internship-offers-section">
  <div class="row">
    <div class="col-4">
    <div id="first-column-container" class="container-placement"></div>
    </div>

    <div class="col-4">
      <div id="second-column-container" class="container-placement"></div>
    </div>

    <div class="col-4">
      <div id="third-column-container" class="container-placement"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-3">
    <div id="fourth-column-container" class="second-container-placement"></div>
    </div>

    <div class="col-3">
      <div  id="fifth-column-container" class="second-container-placement"></div>
    </div>

    <div class="col-3">
      <div id="sixth-column-container" class="second-container-placement"></div>
    </div>

    <div class="col-3">
      <div  id="seventh-column-container" class="second-container-placement"></div>
    </div>
  </div>
  <div class="row third-company-category">
    <div class="col">
      <div id="first-column-container" class="third-container-placement"></div>
    </div>

    <div class="col">
      <div  id="second-column-container" class="third-container-placement"></div>
    </div>

    <div class="col">
      <div id="third-column-container" class="third-container-placement"></div>
    </div>

    <div class="col">
      <div  id="fourth-column-container" class="third-container-placement"></div>
    </div>
    <div class="col">
      <div  id="fiveth-column-container" class="third-container-placement"></div>
    </div>
  </div>

  
</div>

<div class="event-timeline">
  <div class="row">
    <div class="col-12">
      <p class="schedule-section-title">Orar</p>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="new-content">
          <div class= first-vertical-line>
            <div class="circle-with-border">
              <div class="vertical-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-footer text-center text-white .no-padding .container-fluid">
  <div class="row">
    <p id="contact-paragraph">Contact</p>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="organization-info-title">Adresă</p>
      <p class="organization-info">Cantina Hașdeu, Complex Studențesc Hașdeu,<br>Strada Bogdan Petriceicu Hașdeu 45, <br>Cluj-Napoca</p>
    </div>
    <div class="col-4">
      <p class="organization-info-title">Email</p>
      <p class="organization-info">cariereinit@societatea-hermes.ro</p>
      <p class="event-details">Un eveniment marca</p>
      <img class="organization-logo" src="/assets/images/Hermes-Original-SubText-White.png" alt="Societatea Hermes Logo" width="50%" height="50%">
    </div>
    <div class="col-4">
      <p class="organization-info-title social-media-logos">Social Media</p>
      <a href="https://www.facebook.com/societateahermes" target="_blank">
        <img class="facebook-logo" src="/assets/images/facebook.png" width="6%">
      </a>
      <a href="https://www.instagram.com/societatea.hermes/" target="_blank">
        <img class="instagram-logo" src="/assets/images/instagram.png" width="7%">
      </a>
    </div>
  </div>
</div>


<!--
  <div class="row">                                
    <div class="col-md-12 timeline">                                    
    <section id="cd-timeline" class="cd-container">                                        
      <?php $itemRedShown = 0; ?>                                        
      @foreach($timeline as $key => $val)
        <?php                                                
              $keyExploded = explode(' ', $val['start_date']); 
              $dateExploded = explode('-', $keyExploded[0]);
              $dateTmp = Carbon\Carbon::createFromFormat('Y-m-d H:i', $val['start_date']);
              $dateTmpEnd = Carbon\Carbon::createFromFormat('Y-m-d H:i', $val['end_date']);
              if($dateTmp->gt($currentDT)) {
                $itemRedShown++;
              } 
              elseif($dateTmp->lte($currentDT) && $dateTmpEnd->gt($currentDT)) { 
                $class = "cd-location"; // In desfasurare..  
                $class = "cd-picture"; // A fost..  
                $isHidden = false;
                if($class == "cd-picture") {
                  $isHidden = true;
                } elseif($class == 'cd-movie' && $itemRedShown > 2) { 
                  $isHidden = true;  
                }?>
                <div class="cd-timeline-block {{$isHidden ? 'hiddenItem' : ''}}">
                  <div class="cd-timeline-img {{$class}}">
                    <div class="cd-timeline-content">
                      <h2>{{$key}}</h2>
                      <span class="cd-date">{{$keyExploded[1]}} ({{$dateExploded[2]}} Nov)</span></div></div> @endforeach
                   </section>
                  </div>
                </div>
-->