<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<div class="page-container">
  <footer>
    <div class="container text-center">
      <p id="contact-paragraph">Contact</p>
      <div class="table-class">
        <table class="footer-table">
          <thead>
            <tr>
              <th>Adresă:</th>
              <th class="column-padding">Email:</th>
              <th>Social Media</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="address-content">
                  <p>Cantina Hașdeu, Complex Studențesc Hașdeu,<br>Strada Bogdan Petriceicu Hașdeu 45, <br>Cluj-Napoca</p>
                </div>
              </td>
              <td class="column-padding">cariereinit@societatea-hermes.ro</td>
              <td>
                <span class="material-icons-outlined">facebook</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p id="paragraph-event">Un eveniment marca</p>
      <img src="/assets/images/Hermes Original Log - SubText.png" alt="Societatea Hermes Logo" width="30%" height="5%">
    </div>
  </footer>
</div>-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<div class="page-footer text-center text-white .no-padding container">
  <div class="row">
    <p id="contact-paragraph">Contact</p>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="organization-info-title">Adresă</p>
      <p class="organization-info">Cantina Hașdeu, Complex Studențesc Hașdeu,<br>Strada Bogdan Petriceicu Hașdeu 45, <br>Cluj-Napoca</p>
    </div>
    <div class="col-4">
      <p class="organization-info-title">Email</p>
      <p class="organization-info"><br>cariereinit@societatea-hermes.ro</p>
      <p class="event-details">Un eveniment marca</p>
      <img class="organization-logo" src="/assets/images/Hermes Original Log - SubText.png" alt="Societatea Hermes Logo" width="60%" height="40%">
    </div>
    <div class="col-4">
      <p class="organization-info-title social-media-logos">Social Media</p>
      <a href="https://www.instagram.com/societatea.hermes" target="_blank"><i class="icon-instagram2"></i></a>
      <!--<img class="facebook-logo" src="/assets/images/facebook_image.png" width="10%">
      <img src="/assets/images/instagram_image.png" width="10%">-->
    </div>
  </div>
</div>